*{margin: 0;
padding: 0;
box-sizing: border-box;}

header{
    background-color: rgb(53, 52, 52);
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}
nav a {  
  font-family: sans-serif;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.menu-icon {
  display: none;
  font-size: 32px;
  cursor: pointer;
  color: white;
}

h1{
    text-align: center;
    color: white;
}






body{
    background-image: url(imagens/montanha.webp)
    ;
    background-repeat: no-repeat;
    background-size: cover;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}


p{
    font-family: Roboto ;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}

footer{
  text-align: center;
  color:white;
    padding: 12px;
    font-size: 10px;
   background-color: rgb(53, 52, 52);
}
main{flex: 1;}




a{
  display: inline-block;
  margin-bottom: 40px;
  color: rgb(107, 104, 104);
}






@media (max-width: 768px) {
    nav {
    display: none;
  }

  header {
    height: 90px;
    justify-content: center;
    position: relative;
  }

  header h1 {
    font-size: 2.3rem;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 25px;
  }
body{
   overflow-x: hidden;
    overflow-y: hidden;
}
  main {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #container {
    position: relative;
    left: auto;
    top: auto;

    width: 90%;
    max-width: 440px;

    margin: 40px auto;
    padding: 30px;
    height: 90%;
     max-height: 550px;
    overflow: hidden;
  }

  #container h1 {
    font-size: 3rem;
    text-align: center;
  }

  #container input {
    width: 100%;
  }

}





  


